---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="main">
  <div class="content header">
    <header class="navigation">
      <label class="logo" for="logo">
        <div>
          <img class="logo__img" src="./img/task/logo.png" alt="Coderiver">
          <img class="logo__img_small" src="./img/task/hamburger-icon.png" alt="hamburger" />
        </div>
      </label>
      <input type="checkbox" hidden id="logo" />
      <ul class="nav">
        <label class="logo__close" for="logo">X</label>
        {% import "data/navigation.html" as tests %}

        {% for test in tests.list %}
        <li class="nav__item">
          <a href="#" class="nav__item-link">{{test.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </header>
    <div class="main-page">
      <div class="main-page__article">
        <p class="main-page__title">Built with app designers in mind</p>
        <p class="main-page__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet.
        </p>
        <button class="main-page__button">How it works</button>
      </div>
      <div class="main-page__mobile">
        <img class="main-page__mobile-img" src="./img/task/iphone.png" alt="iphone">
      </div>
    </div>
  </div>
  <div class="content advantages">
    <div class="advantages__article">
      <p class="advantages__article-one">How it works</p>
      <p class="advantages__article-two">Lorem ipsum is simply</p>
    </div>
    <div class="advantages__description">
      {% import "data/descriptions.html" as tests %}

      {% for test in tests.descriptions %}
      <div class="advantages__description-content">
        <img class="advantages__description-image" src="{{test.img}}" alt="{{test.alt}}">
        <p class="advantages__description-title">{{test.title}}</p>
        <p class="advantages__description-text">{{test.text}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="content bot">
    <div class="bot__container">
      <p class="bot__container-title">Receive notification now</p>
      <p class="bot__container-article">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Lorem ipsum dolor.
      </p>
      <form class="bot__container-form">
        <input class="bot__container-input" name="date" placeholder="Your email address..." />
        <button class="bot__container-button">I'm ready!</button>
      </form>
    </div>
  </div>
  <footer class="content footer">
    <p class="footer__copyright">Copyright by Comtruavip 2017</p>
    <div class="footer__social-icons">
      <a href="#" class="footer__buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#" class="footer__buttons">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
      <a href="#" class="footer__buttons">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
  </footer>
</main>
{% endblock %}
