{% set
descriptions = [
  {
    img: './img/task/1.png',
    alt: '1',
    title: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry'
  },
  {
    img: './img/task/2.png',
    alt: '2',
    title: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry'
  },
  {
    img: './img/task/3.png',
    alt: '3',
    title: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry'
  },
  {
    img: './img/task/4.png',
    alt: '4',
    title: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry'
  },
  {
    img: './img/task/5.png',
    alt: '5',
    title: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry'
  },
  {
    img: './img/task/6.png',
    alt: '6',
    title: 'Lorem ipsum is simply dummy',
    text: 'Lorem ipsum is simply dummy text of the printing and typesetting industry'
  }
]
%}
